# DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF - 3.3
* Find the highest Price in the  - 105
* What is the average User Rating? - 4.6
* What the average User Rating of the first 5 rows? - 4.7
* What User Review score appeared the most? - 8580.0
* What is the total (sum) of all the values in the Reviews column? - 6574305.0
* How many different authors are featured in the dataset? - 248
* Which author wrote the most number of books on the list?  How many did they write?

In [19]:
import pandas as pd

bestsellers = pd.read_csv("data/bestsellers.csv")

In [20]:
bestsellers.min(numeric_only=True)

User Rating       3.3
Reviews          37.0
Price             0.0
Year           2009.0
dtype: float64

In [21]:
bestsellers.max(numeric_only=True)

User Rating        4.9
Reviews        87841.0
Price            105.0
Year            2019.0
dtype: float64

In [22]:
bestsellers.mean(numeric_only=True)

User Rating        4.618364
Reviews        11953.281818
Price             13.100000
Year            2014.000000
dtype: float64

In [23]:
bestsellers.head(5).mean(numeric_only=True)

User Rating        4.7
Reviews        13494.0
Price             12.6
Year            2016.2
dtype: float64

In [24]:
bestsellers.mode(numeric_only=True)

    User Rating  Reviews  Price  Year
0           4.8   8580.0    8.0  2009
1           NaN      NaN    NaN  2010
2           NaN      NaN    NaN  2011
3           NaN      NaN    NaN  2012
4           NaN      NaN    NaN  2013
5           NaN      NaN    NaN  2014
6           NaN      NaN    NaN  2015
7           NaN      NaN    NaN  2016
8           NaN      NaN    NaN  2017
9           NaN      NaN    NaN  2018
10          NaN      NaN    NaN  2019

In [25]:
bestsellers.sum(numeric_only=True)

User Rating       2540.1
Reviews        6574305.0
Price             7205.0
Year           1107700.0
dtype: float64

In [26]:
bestsellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [27]:
bestsellers.describe(include='object')

,Name,Author,Genre
count,550,550,550
unique,351,248,2
top,Publication Manual of the American Psychologic...,Jeff Kinney,Non Fiction
freq,10,12,310